<div id="jobs">
  <% @tasks.each do |task| %>
    <div class="job">
      <h2>
        <%= link_to task.title, task %>
      </h2>
      <p>
        <%= task.company %>
      </p>
    </div>
  <% end %>
</div>